.container {
  margin: 4.1em auto 1em auto;
  padding: 0.5em 0;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f5df4d;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 96%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 92%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 68%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 52%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 44%;
  }
}
