{
  "log": {
    "_recordingName": "fallback",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "e7dad06b51681360cc69881bed97a474",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filters",
              "value": "{date=2020-10-14;areaType=nation;areaCode=N92000002"
            },
            {
              "name": "structure",
              "value": "{\"areaType\":\"areaType\",\"areaName\":\"areaName\",\"areaCode\":\"areaCode\",\"date\":\"date\",\"newCasesByPublishDate\":\"newCasesByPublishDate\",\"cumCasesByPublishDate\":\"cumCasesByPublishDate\",\"cumCasesBySpecimenDateRate\":\"cumCasesBySpecimenDateRate\",\"newCasesBySpecimenDate\":\"newCasesBySpecimenDate\",\"cumCasesBySpecimenDate\":\"cumCasesBySpecimenDate\",\"newDeaths28DaysByPublishDate\":\"newDeaths28DaysByPublishDate\",\"cumDeaths28DaysByPublishDate\":\"cumDeaths28DaysByPublishDate\",\"cumDeaths28DaysByPublishDateRate\":\"cumDeaths28DaysByPublishDateRate\",\"newDeaths28DaysByDeathDate\":\"newDeaths28DaysByDeathDate\",\"cumDeaths28DaysByDeathDate\":\"cumDeaths28DaysByDeathDate\",\"cumDeaths28DaysByDeathDateRate\":\"cumDeaths28DaysByDeathDateRate\",\"maleCases\":\"maleCases\",\"femaleCases\":\"femaleCases\",\"newPillarOneTestsByPublishDate\":\"newPillarOneTestsByPublishDate\",\"cumPillarOneTestsByPublishDate\":\"cumPillarOneTestsByPublishDate\",\"newPillarTwoTestsByPublishDate\":\"newPillarTwoTestsByPublishDate\",\"cumPillarTwoTestsByPublishDate\":\"cumPillarTwoTestsByPublishDate\",\"newPillarThreeTestsByPublishDate\":\"newPillarThreeTestsByPublishDate\",\"cumPillarThreeTestsByPublishDate\":\"cumPillarThreeTestsByPublishDate\",\"newAdmissions\":\"newAdmissions\",\"cumAdmissions\":\"cumAdmissions\",\"cumAdmissionsByAge\":\"cumAdmissionsByAge\",\"cumTestsByPublishDate\":\"cumTestsByPublishDate\",\"newTestsByPublishDate\":\"newTestsByPublishDate\",\"covidOccupiedMVBeds\":\"covidOccupiedMVBeds\",\"hospitalCases\":\"hospitalCases\"}"
            }
          ],
          "url": "https://api.coronavirus.data.gov.uk/v1/data?filters=%7Bdate%3D2020-10-14%3BareaType%3Dnation%3BareaCode%3DN92000002&structure=%7B%22areaType%22%3A%22areaType%22%2C%22areaName%22%3A%22areaName%22%2C%22areaCode%22%3A%22areaCode%22%2C%22date%22%3A%22date%22%2C%22newCasesByPublishDate%22%3A%22newCasesByPublishDate%22%2C%22cumCasesByPublishDate%22%3A%22cumCasesByPublishDate%22%2C%22cumCasesBySpecimenDateRate%22%3A%22cumCasesBySpecimenDateRate%22%2C%22newCasesBySpecimenDate%22%3A%22newCasesBySpecime[...]
